.box{
    background-color: aqua;

    /* horizontal and vertical positioning  */

    /* transform:translate(100px,250px);  */
    /* transform:translateX(100px);
    transform:translateY(250px);

    /* transform:rotate(-45deg); */

    /* margin:150px; */
    /* horizontal and vertical scaling */
    /* transform:scale(1.5,1.5); */
    /* transform:scaleX(1); */
    transform:scaleY(1);

    /* transform:skew(-45deg); */


}